* {margin:0; padding:0;}
header, main, footer,section,nav{
	display:block;
}
.wrapper{
	width: 1200px;
	margin:0 auto;
}
a{
	text-decoration: none;
	color:#000000;
}

.clear{
	clear: both;
}
body{
	background-color: #fbfbfb;
	direction: rtl;
	font-family: 'Rubik', sans-serif;
}
header{
	width: 1200px;
	padding-top: 16px;
}
li{
	float: right;
	list-style-type: none;
}
input{
	font-family: 'Rubik', sans-serif;
	width: 180px;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
 	border-radius: 10px;
    padding: 4px 7px;
    background: url(../images/searchIcon.png) no-repeat;
    background-size: 15px 13px;
    background-position: 2% 50%;
    background-color: #ffffff;
    outline: 0;
}
input:focus{
	background: url();
	background-color: #ffffff;
}
main{
	position: relative;
}
#homepage{
	height: 880px;
}
#vacpage{
	height: 680px;
}
#logoBar{
	position: relative;
	width: 1200px;
	height: 52px;
	margin-top: 67px;
	background-color: #ebebeb;
}
#theLogo{
	top: -42px;
	margin-right: 45px;
	width: 220px;
	height: 110px;
	background: url(../images/ClinicON-logo.png) no-repeat;
	background-size: 220px 110px;
}
#logoBar > * {
	position: absolute;
	bottom: 10px;
}
#tools{
	direction: ltr;
	float:left;
}
#hamburger{
	display: none;
	position: absolute;
	top:-165px;
}
#hamburger2{
	display: none;
	position: absolute;
	top:-153px;
}
#sideMenu{
	display: none;
	position: absolute;
	top:-170px;
	width: 250px;
	height: 1420px;
	background-color: #eaeaea;
}
#sideNav li{
	float: none;
	margin: 40px;
}
#theSearch{
	right: 400px;
}
#logoNav{
	right: 750px;
}
#logoNav li{
	width: 100px;
}
#logOut{
	text-align: center;
	color: #a77a23;
	border:1px solid;
	border-color: #a77a23;
	border-radius: 5px;
}
#logOut a{
	color: #a77a23;
}
#mainNav{
	width:1200px;
	height: 20px;
	background-color: #3b3b3b;
	color: #FFFFFF;
}
#mainNav li{
	text-align: center;
	font-size: 13px;
	width: 104px;
	margin-top: 3px;
}
#mainNav a{
	color:#FFFFFF;
}
#mainNav a:hover{
	color: #b9b9b9;
}
.borderNav{
	width: auto !important;
}
#breadcrumbs{
	position: relative;
	top: 5px;
	width: 120px;
}
.mainBox{
	position: relative;
	background-color: #e4e4e4;
	margin: 16px;
}
#calendar{
	position: absolute;
	width: 563px;
	height: 808px;
}
#vaccine{
	position: absolute;
	width: 563px;
	height: 397px;
}
#vaccine2{
	position: absolute;
	width: 563px;
	height: 397px;
}
#selectCal > div{
	direction: ltr;
	width: 71px;
	margin-top: 60px;
}
#clients{
	position: absolute;
	right: 615px;
	width: 563px;
	height: 185px;
}
#animals{
	position: absolute;
	top: 230px;
	right: 615px;
	width: 563px;
	height: 185px;
}
.darkArea{
	height: 45px;
	background-color: #a4a4a4;
}
.darkArea h2{
	display: inline;
	font-size: 20px;
}
.darkArea > *{
	margin-top: 16px;
	margin-right: 5px;
}
}
.icon{
	margin:7px;
}
.smallBoxes{
	position: absolute;
	right: 220px;
	top: 13px;
	width: 350px;
	height: 55px;
}
.smallBox{
	margin: 10px;
	float: right;
	width: 143px;
	height: 34px;
	background-color: #c0c0c0;
	text-align: center;
}
.addNew{
	background-color: #ffc95f;
}
.centerText{
	margin: 6px;
}
footer{
	width: 1200px;
	background-color: #a4a4a4;
	text-align: center;
}
.boxSearch{
	margin-top: 59px;
	margin-right: 64px;
	width: 250px;
}
.floatRight{
	margin-top: 60px;
	float: right;
}
#selectorName{
	direction: ltr;
	margin-right: 54px;
	margin-left: 10px;
}
user-select: {
	width: 200px;
	border-radius: 5px;
}
.calBox{
	background-color: #FFFFFF;
	height: 55px;
}
.dayOff{
	color: #c72727;
}
table{
	width: 100%;
}
.td-center
{
	text-align: center;
}
.td-red
{
	background-color: #b70f0a;
	color: #FFFFFF;
}
.td-grey
{
	background-color: #606060;
	color: #FFFFFF;
}
.row-height
{
	height: 30px;
}
.row-select{
	width:60%;
}
#add-form{
	display: none;
	position: absolute;
	right: 615px;
	width: 563px;
	height: 485px;
}
.form-vac{
	background: url();
	background-color: #FFFFFF;
}
.textForm{
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
 	border-radius: 10px;
 	border: 1px solid #ccc;
}
#button{
	width: 40px;
	text-align: center;
	margin-top: 70px;
	background-color: #5d5c5c;
	color: #ffffff;
}






.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}





@media (max-width: 1024px){
	#hamburger{
		display: block;
	}
	#hamburger2{
		display: block;
	}
	#mainNav{
		display: none;
	}
	.wrapper{
		width: 100%;
	}
	header{
		width: 100%;
	}
	#logoBar{
		width: 100%;
	}
	#logoNav{
		right: 515px;
		width: 402px;
	}
	#theSearch{
		right: 300px;
	}
	#breadcrumbs{
		display: none;
	}
	#clients{
		position: relative;
		right:195px;
	}	
	#animals{
		position: relative;
		right:195px;
		top:0;
	}
	#calendar{
		right:195px;
		top: 390px;
	}
	#vaccine{
		right:195px;
		top: 390px;
	}
	#vaccine2{
		right:195px;
		top: 0px;
	}
	#add-form{
		right:195px;
		top: 0px;
	}
	#homepage{
	height: 1250px;
	}
	#vacpage{
		height: 1000px;
	}
	footer{
		width: 100%;
	}
}
@media (max-width: 768px)
{
	#logoBar{
		width: 968px;
	}
}