* {margin:0; padding:0;}
header, main, footer,section,nav{
	display:block;
}
.clear{
	clear: both;
}
body{
	background-color: #fbfbfb;
	direction: rtl;
}
header{
	width: 1200px;
	padding-top: 16px;
}
li{
	float: right;
	list-style-type: none;
}
#logoBar{
	position: relative;
	width: 1200px;
	height: 52px;
	margin-top: 67px;
	background-color: #ebebeb;
}
#theLogo{
	top: -42px;
	margin-right: 45px;
	width: 220px;
	height: 110px;
	background: url(../images/ClinicON-logo.png) no-repeat;
	background-size: 220px 110px;
}
#logoBar > * {
	position: absolute;
	bottom: 10px;
}
#tools{
	direction: ltr;
	float:left;
}
#theSearch{
	right: 400px;
}
#logoNav{
	right: 750px;
}
#logoNav li{
	width: 100px;
}
#logOut{
	text-align: center;
	color: #a77a23;
	border:1px solid;
	border-color: #a77a23;
	border-radius: 5px;
}
#mainNav{
	width:1200px;
	height: 20px;
	background-color: #3b3b3b;
	color: #FFFFFF;
}
#mainNav li{
	text-align: center;
	font-size: 13px;
	width: 106px;
}
#mainNav span{
	float: right;
}
.mainBox{
	position: relative;
	float: right;
	background-color: #e4e4e4;
	margin: 16px;
}
#calendar{
	width: 563px;
	height: 808px;
}
#clients{
	width: 563px;
	height: 185px;
}
#animals{
	width: 563px;
	height: 185px;
}
.darkArea{
	height: 45px;
	background-color: #a4a4a4;
}
.icon{
	margin:7px;
}
.smallBoxes{
	position: absolute;
	right: 220px;
	top: 13px;
	width: 350px;
	height: 55px;
}
.smallBox{
	margin: 10px;
	float: right;
	width: 143px;
	height: 34px;
	background-color: #c0c0c0;
	text-align: center;
}
.addNew{
	background-color: #ffc95f;
}